/* Write your CSS here */
.chrono-container {
  width: 400px;
  height: 600px;
}

.image {
  width: 200px;
  height: 200px;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.responsive-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 22px;
  color: #171f46;
  text-align: center;
}
.ccbp {
  font-size: 36px;
  text-align: center;
  color: #2b237c;
}
